@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700&display=swap');

:root{
    --purple: #674baf;
    --white: #ffffff;
}
body{
    background-color: var(--purple);
    margin: 0px 30px;
}

.white-color {
      color: var(--white);
      
}

.navbar{
    margin:48px 42px;
    font-family: 'Poppins', sans-serif;
    
}

.display-flex{
    display: flex;
    /* justify-content: flex-start; */
    align-items:center;
    /* border: 2px solid; */
}

.site-title{
    margin-left:13px;
    font-size : 24px;
}

.project-image{
    width: 450px;
}

.central-content-text{
    font-family: 'Open Sans', sans-serif;
}
.body-container{
    display: flex;
    justify-content: center;
}

.body-content{
       width: 800px;
}

.central-component-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 23px;
    
}

.central-content-descripted{
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}
.central-component-button{
  height: 33px;
  width: 120px;
 margin-top: 12px;
  border-radius: 40px;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--purple);
}

.footer-icons{
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-content: flex-end;
    margin-right: 10px;
}
.social-icon{
    padding:8px;
}

.site-footer{
    position: fixed;
    bottom: 10px;
    right: 0px;
    width: 94%;
}
